{{ define "title"}}Filters - test{{ end }}

{{ define "content"}}

<a href="#" role="button" title="Remove" id="chip-template" hidden class="category">
    <input disabled type="hidden" name="filters[]">
    <span title="remove"> &#10006;</span>
</a>

<form action="{{ route "filters" }}" method="post" autocomplete="off">
    <input type="hidden" name="csrf" value="{{ .csrf }}">

{{ if .errorMessage }}
    <div class="alert alert-error">{{ t .errorMessage }}</div>
{{ end }}

    <label>{{ t "New filter" }}</label>
    <input type="text" name="filter_name" id="filter_name" value="" placeholder="set filter name" required autofocus><br>
    <input type="text" name="keyword" id="keyword" value="" placeholder="keyword" autofocus>
    <button class="button button-info" data-on-click="addToFilter">{{ t "Add keyword" }}</button>

    <div id="chips" data-on-click="rmFromFilter">

    </div>

    <div class="buttons">
        <button type="submit" class="button button-primary" data-label-loading="{{ t "Loading..." }}">{{ t "Create" }}</button>
    </div>
</form>

<section class="page-header">
{{ if not .current }}
    <p class="alert">{{ t "There is no filters created." }}</p>
{{else}}
    <h3>Saved filters:</h3>
    <ul class="items">
    {{ range .filters }}
        <li><a href="/filters/{{ .ID }}"><b>{{ .FilterName }}: </b>
        {{ range .Filters}}
            <span><i>{{ . }}</i></span>
        {{ end }}
        </a></li>
            <span class="category"><a href="#"
               data-confirm="true"
               data-label-question="{{ t "Are you sure?" }}"
               data-label-yes="{{ t "yes" }}"
               data-label-no="{{ t "no" }}"
               data-label-loading="{{ t "Work in progress..." }}"
                                      data-url="{{ route "removeFilter" "filterID" .ID }}">{{ t "Remove" }}</a></span><br>
    {{ end}}
    </ul>
    <br>
    <div class="item">
        <h3>Current filter: <i>{{ .current.FilterName }}</i></h3>
        <div>
        {{ range .current.Filters }}
            <span><i>{{ . }}</i></span>
        {{ end}}
        </div>
        <br>
        <div>
            <span class="category"><a href="{{ route "filtersIdMonths" "id" .current.ID }}?months=1">{{ t "Last month" }}</a></span>
            <span class="category"><a href="{{ route "filtersIdMonths" "id" .current.ID}}?months=3">{{ t "Last 3 month" }}</a></span>
            <span class="category"><a href="{{ route "filtersId" "id" .current.ID}}">{{ t "All" }}</a></span>
        </div>
    </div>
{{ end }}
</section>

{{ if not .entries }}
    <p class="alert">{{ t "There is no article for this filter." }}</p>
{{ else }}
    <div class="items">
    {{ range .entries }}
        <article class="item touch-item item-status-{{ .Status }}" data-id="{{ .ID }}">
            <div class="item-header">
                    <span class="item-title">
                        {{ if ne .Feed.Icon.IconID 0 }}
                            <img src="{{ route "icon" "iconID" .Feed.Icon.IconID }}" width="16" height="16">
                        {{ end }}
                            <a href="{{ route "feedEntry" "feedID" .Feed.ID "entryID" .ID }}">{{ .Title }}</a>
                    </span>
                <span class="category"><a href="{{ route "categoryEntries" "categoryID" .Feed.Category.ID }}">{{ .Feed.Category.Title }}</a></span>
            </div>
        {{ template "item_meta" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry }}
        </article>
    {{ end }}
    </div>
{{ end }}
{{/*{{ template "pagination" .pagination }}*/}}
{{ end }}
