{{ define "content"}}
<!-- OFFICIAL NEWS -->
<div class="mdl-layout__tab-panel is-active" id="official">
</div>
<!-- MEDIA NEWS -->
{{/*{{ template "news_media" . }}*/}}
<div class="mdl-layout__tab-panel" id="media">
</div>
<!-- TRAVEL ALERTS -->
<div class="mdl-layout__tab-panel" id="travel">
</div>
<!-- SECURITY ALERTS -->
<div class="mdl-layout__tab-panel" id="security">
    <br>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        TO BE DONE....
    </section>
</div>
<!-- VISA CHANGES -->
{{/*{{ template "news_visa" . }}*/}}
<div class="mdl-layout__tab-panel" id="visa">
</div>

{{ end }}