{{ define "content"}}
<!-- OFFICIAL NEWS -->
<div class="mdl-layout__tab-panel is-active" id="official">
</div>
<!-- MEDIA NEWS -->
{{/*{{ template "news_media" . }}*/}}
<div class="mdl-layout__tab-panel" id="media">
</div>
<!-- TRAVEL ALERTS -->
<div class="mdl-layout__tab-panel" id="travel">
</div>
<!-- SECURITY ALERTS -->
<div class="mdl-layout__tab-panel" id="security">
    <h2 style="color:#666565; text-align:center; opacity: 0.87;">Real-time Global Security alerts</h2>
    <p style="color: #dcdbda; text-align:center; font-size:18px;">Data source: US, Canada, EU government bodies</p>
    {{/*<br/>*/}}
    {{/*<div id="map" style="position: relative; width: 95%; height: 70%;"></div>*/}}
    <div id="map" style="position: relative; width: 1000px; height: 350px; padding-left: 5%;"></div>
</div>
<!-- VISA CHANGES -->
<div class="mdl-layout__tab-panel" id="visa">
</div>

{{ end }}