{{ define "news_security"}}

<br>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <span class="mdl-list__item-primary-content">
                            <span class="mdl-layout-spacer"></span>
                        {{noescape (proxyFilter .risk ) }}
                        </span>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <span class="mdl-list__item-primary-content">
                            <span class="mdl-layout-spacer"></span>
                        {{noescape (proxyFilter .security ) }}
                        </span>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <span class="mdl-list__item-primary-content">
                            <span class="mdl-layout-spacer"></span>
                        {{noescape (proxyFilter .laws ) }}
                        </span>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <span class="mdl-list__item-primary-content">
                            <span class="mdl-layout-spacer"></span>
                        {{noescape (proxyFilter .disasters ) }}
                        </span>
                </div>
            </div>
        </div>
    </section>
</section>
{{ end }}