{{ define "content"}}

<div class="mdl-layout__tab-panel is-active" id="official">
<br>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <div class="section__text">
                    <h4>Official News:</h4>
                    <h5>Source:</h5>
                    <div>
                        <p>Global Ministry of foreign Affairs - Global Immigration Department - Global Tourism Boards</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ template "disclaimer" }}
</div>
<div class="mdl-layout__tab-panel" id="media">
    <br>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <div class="section__text">
                    <h4> Media News:</h4>
                    <h5>Source:</h5>
                    <div>
                        <p>Mainstream media news outlet i.e. CNN, BBC and others and Media Migration Policy.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ template "disclaimer" }}
</div>
<div class="mdl-layout__tab-panel" id="travel">
    <br>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <div class="section__text">
                    <h4>Travel Alerts:</h4>
                    <h5>Source:</h5>
                    <div>
                        <p>CDC Yellow Fever and CDC Travel Alerts</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ template "disclaimer" }}
</div>
<div class="mdl-layout__tab-panel" id="security">
    <br>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <div class="section__text">
                    <h4>Security Alerts:</h4>
                    <h5>Source:</h5>
                    <div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ template "disclaimer" }}
</div>
<div class="mdl-layout__tab-panel" id="visa">
    <br>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <div class="section__text">
                    <h4>Visa Changes:</h4>
                    <h5>Source:</h5>
                    <div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ template "disclaimer" }}
</div>

{{ end }}