{{ define "news_travel"}}

<br>
{{ if eq .countrytotal 0 }}
<div class="mdl-grid boxes-center">
    <h4>No recent news</h4>
</div>
{{ end }}
{{ range $i, $e := .travelentries }}

{{ if eq $i 2 }}
<div class="mdl-grid boxes-center">
    <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">VISA UPDATES</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Get Visa Updates alerts
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View Updates
            </a>
        </div>
    </div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">SEARCH VISA</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Search Global Visas
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://visadb.io" target="_blank">
                Search
            </a>
        </div>
    </div>
</div>
{{ end }}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h4>{{ noescape $e.Title }}</h4>
                <p class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">schedule</i>
                        {{ elapsed "UTC" $e.Date }}
                            <span class="mdl-layout-spacer"></span>
                        {{ if gt $e.Feed.Icon.IconID 0 }}
                            <i class="mdl-list__item-icon"><img src="{{ route "feedicon" "iconID" $e.Feed.Icon.IconID }}" width="26" height="26"></i>
                        {{ end }}
                        {{ $e.Feed.Title }}
                        </span>
                </p>
                <a role="button" href="#" data-fetch-content-url="{{ route "newsFetchContent" "entryID" $e.ID }}">READ FULL STORY</a>
            </div>
        </div>
    </div>
</section>
{{end}}
<!-- PAGINATION -->
<div class="mdl-grid boxes-center">
{{ if gt .offset 0 }}
<button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-page="prev">
{{ else }}
<button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-page="prev" disabled>
{{ end }}
    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_left</i> Prev
</button>
    <div class="mdl-layout-spacer"></div>
{{ if .hasNext }}
<button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-page="next">
{{ else}}
<button class="mdl-button mdl-js-button mdl-js-ripple-effect" data-page="next" disabled>
{{ end }}
    Next <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_right</i>
</button>
</div>
{{ end }}