{{ define "sources"}}

    <br>
        <div class="mdl-cell mdl-cell--12-col">
                    <h5>Official News:</h5>
                    <div>
                        <p><b>Source:</b> Global Ministry of foreign Affairs - Global Immigration Department - Global Tourism Boards</p>
                    </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
                    <h5> Media News:</h5>
                    <div>
                        <p><b>Source:</b> Mainstream media news outlet i.e. CNN, BBC and others and Media Migration Policy.</p>
                    </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
                    <h5>Travel Alerts:</h5>
                    <div>
                        <p><b>Source:</b> CDC Yellow Fever and CDC Travel Alerts</p>
                    </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
                    <h5>Security Alerts:</h5>
                    <div>
                        <p><b>Source:</b> </p>
                    </div>
        </div>

{{ template "disclaimer" }}

{{ end }}